.main {
    @extend %flex-justifycontent-center;
    flex-wrap: wrap;

    padding-top: 118px;
    padding-bottom: 118px;
    background-size: cover;
    background-image: linear-gradient(to right,
            rgba(47,
                48,
                58,
                0.4),
            rgba(47,
                48,
                58,
                0.4)),
        url(../images/img/hero-mobile@1x-min.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
                rgba(47,
                    48,
                    58,
                    0.4),
                rgba(47,
                    48,
                    58,
                    0.4)),
            url(../images/img/hero-mobile@2x-min.jpg);
    }

    @media screen and (min-width:1200px) {
        padding-top: 200px;
        padding-bottom: 200px;

        background-image: linear-gradient(to right,
                rgba(47,
                    48,
                    58,
                    0.4),
                rgba(47,
                    48,
                    58,
                    0.4)),
            url(../images/img/hero-tablet@1x-min.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                    rgba(47,
                        48,
                        58,
                        0.4),
                    rgba(47,
                        48,
                        58,
                        0.4)),
                url(../images/img/hero-tablet@2x-min.jpg);
        }
    }

    @media screen and (min-width:1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right,
                rgba(47,
                    48,
                    58,
                    0.4),
                rgba(47,
                    48,
                    58,
                    0.4)),
            url(../../images/img/hero-desktop@1x-min.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                    rgba(47,
                        48,
                        58,
                        0.4),
                    rgba(47,
                        48,
                        58,
                        0.4)),
                url(../../images/img/hero-desktop@2x-min.jpg);
        }
    }


    &__title {

        font-weight: 900;
        font-size: 26px;
        line-height: 1.36;

        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: $dark-background-text-color;
        margin-bottom: 30px;

        @media screen and (min-width:1200px) {
            font-size: 44px;
        }

    }


    &__button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9px;
        color: $dark-background-text-color;
        border: none;

        @include button($width-btn: 216px);

        display: block;
        margin-left: auto;
        margin-right: auto;


    }




}