.skills {

    @media screen and (min-width: 0px) and (max-width: 1199px) {
        display: none;
    }

    padding-bottom: 94px;



    &__list {
        @include grids-list(30px);
        min-width: 100%;
        max-width: 480px;

        & li {



            & li:last-child {
                margin-right: none;
            }

        }
    }


    &__img {
        width: 370px;
        height: 294px;

    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;

        color: $main-texts-color;
        margin-bottom: 50px;

    }

    &__item {

        // @include grids-item(3, 30px);

        text-transform: uppercase;
        position: relative;

        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;

        color: $dark-background-text-color;

        &::before {

            content: 'Десктопні додатки';
            @extend %flex-center;
            position: absolute;

            width: 370px;
            height: 70px;

            bottom: 4px;
            background-color: rgba(47, 48, 58, 0.8);
        }

        &:nth-child(2)::before {
            content: 'Мобільні додатки';
        }

        &:nth-child(3)::before {
            content: 'Дизайнерські рішення';
        }
    }





}